<div id="chat">
  <ol>
    <div class="message" v-for="message in messages">
        <div class="header"><img v-bind:src="'/static/icons/countries/'+message.country.split('-')[0]+'.png'"><img v-if="message.country.indexOf('-') !== -1"
 v-bind:src="'/static/icons/countries/'+message.country+'.png'">{{ message.name }}</div>
        <div class="body">{{ message.body }}</div>
        <div v-if="message.file">
            <img v-bind:src="'/static/uploads/'+message.file">
        </div>
    </div>
  </ol>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/static/js/chat.js"></script>
<form method="post" action="/post" target="_blank" name="post" id="post">
    <input name="file" type="file" id="file">
  <input name="name">
  <textarea name="body">
  </textarea>
  <input type="submit" value="post" name="post" id="post">
</form>