<div id="chat">
  <ol>
    <div class="message" v-for="message in messages">
        <p><img src="{{ message.country_icon }}"><img src="{{ message.region_icon }}">{{ message.name }}</p>
        <p>{{ message.body }}</p>
    </div>
  </ol>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/static/js/chat.js"></script>
<form method="post" action="/post" target="_blank">
  <input name="name">
  <textarea name="body">
  </textarea>
  <input type="submit" value="post">
</form>